.App {
  text-align: center;
}

h3 {
  font-style: italic;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 60px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  border-radius: 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-style {
  border-radius: 6px;
  margin: 20px;
  background-color: white;
  font-size: 20px;
  padding: 10px;
  color: purple;

}

.container-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-style {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  color: purple;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
